<ul class="posts">
{% for post in  site.categories[page.name] %}
    <li class="post-item">
        <h2 class="post-title">
            <a href="{{ site:url }}{{ post.url }}">{{ post.title }}</a>
            <span class="post-cate">{{ post.category }}</span>
            <span class="post-date">{{ post.date | date:"%Y-%m-%d" }}</span>
        </h2>
        <div class="post-summary">
            <div class="post-summary-img">
            {% if post.img %}
                <img src="{{ site:url }}/images/{{ post.img }}" alt="摘要图片" title="{{ post.title }}" />
            {% else %}
                <img src="{{ site:url }}/images/s1.jpg" alt="摘要图片" title="{{ post.title }}" />
            {% endif %}
            </div>
            <div class="post-summary-right">
                <p class="post-summary-content">summary</p>
                <div class="post-read">
                    <a href="{{ site:url }}{{ post.url }}">阅读全文</a>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
</ul>
<div class="pager">
    <span>共{{ site.categories[page.name] | size }}条记录</span>
</div>
